.MapTile {
  display: inline-block;
  border-right: solid black 1px;
  border-bottom: solid black 1px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;

  background-color: #F1F1F1;
}

.MapTile img.monster {
  position: relative;
  left: -5rem;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.MapTile img.event {
  position: relative;
  left: -1.9rem;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.MapTile img.empty {
  height: 100%;
  width: 100%;
}

.MapTile div.none {
  display: inherit;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.MapTile .none .fa-skull {
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
  z-index: 2;
  font-size: 5rem;
}

.MapTile .none .fa-exclamation {
  position: relative;
  top: 2.5rem;
  left: 4rem;
  z-index: 2;
  font-size: 5rem;
}

.MapTile .tiled .fa-skull {
  position: relative;
  top: 1.75rem;
  left: 2.5rem;
  z-index: 2;
  font-size: 5rem;
}

.MapTile .tiled .fa-exclamation {
  position: relative;
  top: 1.75rem;
  left: 4rem;
  z-index: 2;
  font-size: 5rem;
}
