.MonsterDetails div {
  text-align: left;
}

.MonsterDetails .basic-details {
  border-bottom: solid 1px;
}

.MonsterDetails .ability-scores {
  border-bottom: solid 1px;
}

.MonsterDetails .special-abilities {
  display: block;
  border-top: solid 1px;
  width: 100%;
  float: left;
}

.MonsterDetails .actions {
  display: block;
  width: 100%;
  float: left;
}