.NewUser .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 2rem;
    min-width: 35rem;
    margin-top: 10rem;
    border-bottom-width: 2rem;
    border-top-width: 2rem;
    border-color: #FAFAFA;
}

.NewUser {
    padding: 60px 0;
}

.NewUser form {
    margin: 0 auto;
    max-width: 320px;
}


.NewUser ControlLabel {
    align-content: center;
}

.NewUser button {
    align-self: center;
    margin-bottom:  1rem;
    color: red;
}

.NewUser h1, h2 {
    text-align: center;
}